<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lyf.mapper.ProductMapper">
    <insert id="insert">
        insert into product (productName,dir_id,salePrice,supplier,brand,cutoff,costPrice)
        values (#{productName},#{dir_id},#{salePrice},#{supplier},#{brand},#{cutoff},#{costPrice})
    </insert>

    <delete id="deleteById">
        delete  from product where id = #{id}
    </delete>

    <update id="update">
        update product set productName=#{productName},dir_id=#{dir_id},salePrice=#{salePrice},
        supplier=#{supplier},brand=#{brand},cutoff=#{cutoff},costPrice=#{costPrice} where id = #{id}
    </update>

    <select id="selectById" resultType="Product">
        select * from product where id = #{id}
    </select>

    <select id="selectAll" resultType="Product">
        select * from product
    </select>
</mapper>